apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: 930758456167.dkr.ecr.us-east-1.amazonaws.com/app-repo:2d4be62471820ba2466729d2e81600f6deea8877
          ports:
            - containerPort: 80
