apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: 930758456167.dkr.ecr.us-east-1.amazonaws.com/app-repo:71537f701fd9317618f31d1de071a3a80e9cb0e5:latest
          ports:
            - containerPort: 80
