apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: 930758456167.dkr.ecr.us-east-1.amazonaws.com/app-repo:91169ced4d943941f936c8f66f947343a8d93eff
          ports:
            - containerPort: 80
